:root {
    --primary: #3F72AF;
    --primary-light: #5488c7;
    --secondary: #00ADB5;
    --secondary-light: #00c2cc;
    --dark: #393E46;
    --dark-light: #4d535d;
    --white: #ffffff;
    --gray: #f5f5f5;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1;
}

.custom-header {
    background-color: var(--white);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

.navbar-brand {
    width: 200px;
    height: 50px;
    padding: 0;
}

.navbar-brand img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar-toggler {
    border-color: var(--primary);
    padding: 4px 8px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem rgba(63, 114, 175, 0.25);
}

.btn-custom-primary {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn-custom-primary:hover {
    background-color: var(--primary-light);
    color: var(--white);
}

.btn-custom-secondary {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
}

.btn-custom-secondary:hover {
    background-color: var(--secondary-light);
    color: var(--white);
}

/* Background Colors */
.bg-custom-primary {
    background-color: var(--primary);
}

.bg-custom-secondary {
    background-color: var(--secondary);
}

.text-custom-dark {
    color: var(--dark);
}

.text-custom-light {
    color: var(--white);
}

.form-control:focus {
    border-color: var(--primary-light);
    /* box-shadow: 0 0 0 0.25rem rgba(63, 114, 175, 0.25); */
}

.card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
}


.applicant-card:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-nav .back-fill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 1rem;
    height: 100%;
    line-height: normal;
    background-color: #3F72AF;
    color: #fff;
    border-radius: 15px;
}

.navbar-nav .back-fill.red {
    background-color: red;
    padding: 10px 20px;
    margin: 0 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar-nav .back-fill.red:hover {
    border-color: transparent;
    text-decoration: none;
}
