:root {
    --dark: #393E46;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 30px;
}

/* THIS IS MAIN HEADING OF EVERY SECTION*/
.section-title {
    text-align: center;
    color: var(--dark);
    margin-bottom: 5rem;
    font-size: 30px;
}

/* media queries for responsive */
 @media (max-width: 1200px) {
.hero {
    flex-direction: column;
    padding-top: 6rem;
}

.hero-content {
    margin: 20% auto auto auto;
    text-align: center;
    width: 80%;
}

.image-animation-container {
    display: none;
}

}

@media (max-width: 900px) {
    .logo {
        display: none;
    }
    header {
        padding: 30px 10%;
    }
    .nav-links {
        margin: 0 auto;
    }
}    

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .search-form {
        flex-direction: column;
    }

    .search-btn {
        width: 100%;
    }
    .section-title {
        font-size: 1.5rem;
    }
}

/* Search bar styling for very small sized devices */
@media (max-width: 640px) {
    .search-box {
        padding: 0.5rem;
    }
    
    .search-form {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .input-wrapper, 
    .search-btn {
        width: 100%;
    }
    
    .search-btn {
        padding: 0.8rem;
    }
    .nav-links { 
        display: none;
    }
    .logo {
        display: block;
        height: 60px;
        width: 200px;
        margin: 0 auto;
    }
    header {
        padding: 15px 0;
    }
    .hero-content {
        margin: 25% auto auto auto;
        text-align: center;
        width: 90%;
    }
    .search-btn {
         padding: 0.3rem 1.5rem;
    }
}