/*  CSS VARIABLES FOR PRE-DEFINED COLOR SCHEME  */
:root {
    --white:#FFF;
    --card-back:#f3f4f6;
    --card-text:#9ca3af;
    --companies-back:#f5f5f5;
}

.companies {
    padding: 64px 0;
    background: var(--companies-back);
}

.companies-grid {
    display: grid;
    
    /* min width of each card is 250px and maximum is 1 fraction of available space
       If there is extra space it will distributed among columns 
       repeat function make sure that the style is applied to every
       items(child) of grid and minmax function defines minimum and maximum 
       widths of child items minmax(minimum-width, maximum-width
       nice CSS hacks @BCS221093
    */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 24px;
}

.company-logo {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--card-text);

}

.company-logo img {
    height: 110px;
    width: 110px;
    cursor: pointer;
}