/*  CSS VARIABLES FOR PRE-DEFINED COLOR SCHEME  */
:root {
    --primary: #3F72AF;
    --primary-light: #5488c7;
    --secondary: #00ADB5;
    --secondary-light: #00c2cc;
    --dark: #393E46;
    --dark-light: #4d535d;
    --white: #ffffff;
    --gray: #f5f5f5;
}

/* Featured Jobs */
.featured-jobs {
    padding: 64px 0;
    background: white;
}

.jobs-grid {
    display: grid;
    
    /* min width of each card is 250px and maximum is 1 fraction of available space
       If there is extra space it will distributed among columns 
       repeat function make sure that the style is applied to every
       items(child) of grid and minmax function defines minimum and maximum 
       widths of child items minmax(minimum-width, maximum-width
       nice CSS hacks @BCS221093
    */

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}
.card-header{
    background-color: var(--primary);
    padding: 22px 24px;
    border-radius: 8px 8px 0 0;
}
.card-body{
    padding: 22px 24px;
}
.job-card {
    border: 1px solid #e5e7eb;
    /* padding: 24px; */
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.job-card:hover {
    border-color: var(--primary);
}

.job-title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    /* margin-bottom: 12px; */
}

.job-details {
    color: #6b7280;
    margin-bottom: 8px;
}

.view-job {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 12px;
}