@media (max-width: 1250px) {    /* Tablet sized devices */
    .form-container {
        width: 80%;
        flex-direction: column;
        min-height: 95vh;
    }
    .image-column {
        width: 100%;
        height: 30%;
    }
    .form-content {
        width: 100%;
        flex-direction: column;
        padding: 30px;
        gap: 5px;
        height: calc(70% - 30px);
        margin-top: 30px;
    }
    .role-selection {
        margin-top: 20px;
    }
    .form-fields-row {
        height: 40%;
        gap: 5px;
    }    
    .register-form-heading {
        display: none;
    }
    .full-width-row {
        height: 30%;
    }
    .input-column {
        gap: 20px;
    }
}

@media (max-width: 700px) { /* very small sized devices */
    .form-content{
        height: 100%;
        gap: 10px;
        padding: 20px 10px;
    }
    .full-width-row {
        height: 35%;
    }
    .register-form-heading {
        display: block;
    }
    .image-column{
        display: none;
    }
    .form-fields-row {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: 50%;
    }
    .input-column{
        width: 90%;
        gap: 20px;
        padding: 0;
    }
    .input-group-register-form input {
        border-bottom: 1px solid #000;
    }
    .btn-register {
        min-width: 90%;
        margin: 10px auto 5px;
    }
}