:root {
    --primary: #3F72AF;
    --primary-light: #5488c7;
    --secondary: #00ADB5;
    --secondary-light: #00c2cc;
    --dark: #393E46;
    --dark-light: #4d535d;
    --white: #ffffff;
    --gray: #f5f5f5;
    --categories-back: #f5f5f5;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container form .link {
    text-align: center;
    width: 100%;
    display: block;
}

.container form .link:hover {
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--dark);
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    color: var(--dark-light);
    font-size: 0.9rem;
}

.form-control {
    width: 92%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--primary-light);
    border-radius: 4px;
    font-size: 0.9rem;
}

.form-control:focus {
    border-color: var(--secondary);
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: var(--primary-light);
}

.alert {
    padding: 10px;
    background-color: #f44336;
    color: var(--white);
    margin-bottom: 15px;
    border-radius: 4px;
}

.link {
    margin: 0 auto;
}