* { /*  RESETTING DEFAULT BROWSER STYLING   */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*   applying transition on hovering to all elements  */
*:hover {
    transition: all 0.5s;
}

/*   focussed element's outline removal   */
*:focus {
    outline: none;
}

:root {
    --primary: #3F72AF;
    --primary-light: #5488c7;
    --secondary: #00ADB5;
    --secondary-light: #00c2cc;
    --dark: #393E46;
    --dark-light: #4d535d;
    --white: #ffffff;
    --gray: #f5f5f5;
}

/*   SCROLL BAR STYLES   */
::-webkit-scrollbar {
    width: 12px;
}

/*   SCROLL BAR TRACK STYLES   */
::-webkit-scrollbar-track {
    background-color: var(--dark-light);
}

/*   SCROLL BAR THUMB STYLES   */
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 3px solid var(--dark-light); 
}

/*   ON HOVER   */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-light);
}

/* IMPORTANT MEANS MUST APPLY THIS VALUE TO SPECIFIED STYLE PROPERTY */
.btn-logout{
    color: red !important;
}

.btn-logout:hover{
    border-bottom: 2px solid red !important;
}